/*TODO: apply this to a higher class?*/
.sortable {
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #1C1A18;
    overflow: hidden;
    text-align: center;
    font-family: "Lucida Grande", tahoma, arial, sans-serif;
    color: #C8C7C6;
    margin: 0;
    padding: 0;
}

input, textarea{
    font-family: "Lucida Grande", tahoma, arial, sans-serif;
}

a {
    color: #C8C7C6;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    float: left;
    display: block;
    margin: 0 5px;
    padding: 0 3px;
    font-size: 12px;
    border-radius: 3px;
}

#container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#player_spotlight {
    /* background: url(images/spotlight.png) bottom no-repeat; */
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

#player_container_border {
    border: 1px solid #1C1A18;
    margin: 0 auto;
    padding: 9px 9px 8px 9px;
    background: #7e7975; /* Old browsers */
    background: -moz-linear-gradient(top, #7e7975 0%, #5f5850 70%, #7e7975 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e7975), color-stop(70%, #5f5850), color-stop(87%, #7e7975)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7e7975 0%, #5f5850 70%, #7e7975 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7e7975 0%, #5f5850 70%, #7e7975 87%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7e7975 0%, #5f5850 70%, #7e7975 87%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e7975', endColorstr='#7e7975', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #7e7975 0%, #5f5850 70%, #7e7975 87%); /* W3C */
}

#player_container {
    width: 623px;
    height: 384px;
    border: 1px #8b8b8b;
    border-style: none none solid none;
    position: relative;
    margin: 0 auto;
    background: #b9090b;
}

#player_spotlight iframe {
    position: absolute;
}

#controls {
    position: relative;
    height: 40px;
    margin-top: 4px;
    text-align: left;
}

#playpause {
    background: url("../images/play_icon.png") center top no-repeat;
    left: 0;
}
#playpause.playing {
    background: url("../images/pause_icon.png") center top no-repeat;
    background-size: 40px 80px;
}

#fullscreen {
    background: url("../images/fullscreen.png") center top no-repeat;
    left: 730px;
}

.lg_button {
    top: 0;
    position: absolute;
    text-align: center;
    height: 40px;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;

}

#playpause:hover {
    background-color: #787471;
    background-position: center -40px;
}

#fullscreen:hover {
    background-color: #787471;
    background-position: center -40px;
}

#time_container {
    position: absolute;
    left: 75px;
    top: 16px;
    background: #7E7975;
    border-radius: 3px;
    width: 25px;
    height: 24px;
    text-align: center;
}

#curtime {
    background: #C8C7C6;
    border-radius: 2px;
    margin: 1px;
    width: 23px;
    height: 11px;
    color: #333333;
}

#curplaying {
    width: 200px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 105px;
    border-left: 2px solid cyan;
    padding-left: 2px;
}

#upnext {
    width: 200px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 310px;
    border-left: 2px solid orange;
    padding-left: 2px;
}

#logo {
    position: absolute;
    left: 500px;
    top: 14px;
}

#info {
    display: inline-block;
}

#seek {
    position: absolute;
    left: 75px;
    top: 0px;
    background: #373737;
    height: 12px;
    width: 650px;
    border: 1px solid #636363;
    border-radius: 2px;
}

#progress {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #8d150e;
    border-radius: 2px;
    height: 10px;
    width: 0px;
}

#loaded {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #7E7975;
    border-radius: 2px;
    height: 10px;
    width: 0px;
}

#timetooltip {
    position: absolute;
    display: none;
    width: 23px;
    height: 11px;
    border: 1px solid #7E7975;
    background: #C8C7C6;
    border-radius: 2px;
    color: #333333;
    z-index: 10;
}

#seektooltip {
    position: absolute;
    display: none;
    top: 0;
    height: 10px;
    width: 1px;
    z-index: 10;
    background: #B9090B;
}

#controls_footer {
    height: 43px;
}

#search_container {
    width: 390px;
    height: 100px;
    float: left;
    padding: 5px;
}

#search{
    background: #C8C7C6;
    border: 1px solid #606060;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 5px;
    margin: 0;
    height: 29px;
}

#search:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
    background: #efefef;
}

#search:focus{
    border: 1px solid #5897fb;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
    background: #efefef;
}

#playlist_container {
    width: 390px;
    height: 10000px;
    float: left;
    padding: 5px;
}

#playlist_controls {
    height: 49px;
    width: 358px;
}

.input_container{
    clear: both;
    border: 3px solid #7E7975;
    border-radius: 7px;
    background-color: #7E7975;
}

.input_container.left-tab{
    border-top-right-radius: 0;
}

.input_container.right-tab{
    border-top-left-radius: 0;
}

.tab_label{
    border-radius: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #7C7773;
    display: block;
    margin: 0px;
    font-size: 12px;
}

.tab_label.right-tab{
    float: left;
    padding: 1px 5px;
}

.tab_label.left-tab{
    float: right;
    padding: 1px 5px 1px 30px;
}

.save-playlist{
    float: right;
    font-size: 11px;
}

#globe-container{
    display: table-cell;
    vertical-align: bottom;
    height: 29px;
}

#url{
    border-radius: 5px;
    background: #C1C0BF;
    display: table-cell;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #666666;
    padding: 0 5px 0 5px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}

#url:hover{
    cursor: text;
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
    background: #efefef url("../images/qr.png") no-repeat 0 20px;
}

#url, #search{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s
}

.sf {
    font-size: 8px;
    height: 10px;
    /*overflow: hidden;*/
}

.mf {
    font-size: 13px;
    overflow: hidden;
    height: 16px;
}

.fl{
    float: left;
}

.gray {
    color: #999998;
}

.subtitle {
    float: left;
    margin-left: 4px;
}

.vid_item {
    padding: 3px;
}

.vid_item_title {
    margin: 8px 0 0 3px;
    float: left;
    width: 285px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.thumb {
    float: left;
    clear: both;
    height: 36px;
    width: 64px;
    border-radius: 3px;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.thumb img {
    width: 64px;
    height: 48px;
    top: -6px;
    left: 0;
    position: absolute;
}

.vid_item_link:hover {
    border-radius: 3px;
    background-color: #787471;
    text-decoration: underline;
}

.vid_item_link {
    display: block;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.list_controls {
    margin-bottom: 3px;
}

ul {
    margin: 0px;
    padding: 0;
    /* height: 310px; */
    /* height will need to be adjusted to screen size */
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-state-highlight {
    height: 42px;
    background-color: #7E7975;
    border: 3px dotted white;
    border-radius: 5px;
}


/*Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}











/*QR OVERLAY*/


.collaborate {
    /*display: none;*/
    position: absolute;
    width: 400px;
    left: calc(50% - 400px/2);
    top: calc(50% - 543px/2);
    height: 543px;
    background-color: #7E7975;
    padding: 20px;
    z-index: 20;
    border-radius: 5px;
    transition: all .4s;
}
.collaborate.active-devices {
    width: 700px;
    left: calc(50% - 700px/2);
}
.collaborate .share-container{
    float: left;
    width: 360px;
}
.collaborate h1{
    font-size: 20px;
    margin: 0 0 0 0;
}
.collaborate p{
    font-size: 11px;
    margin: 5px 0 25px 0;
}
.collaborate .url{
    width: 100%;
    padding: 10px;
    background-color: #C8C7C6;
    border-radius: 3px;
    border: 1px solid #606060;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
.collaborate .or{
    margin: -390px 0 0 85px;
    margin-left: calc(50% - 35px/2);
    border-radius: 90%;
    background: #7E7975;
    border: 1px;
    border-color: #606060 #7E7975 #606060 #7E7975;
    border-style: solid;
    height: 35px;
    width:35px;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
    color: white;
}
.collaborate .qr{
    margin-top: 24px;
    padding: 55px;
    height: 360px;
    background: #C8C7C6;
    border: 1px solid #606060;
    border-radius: 3px;
}
.collaborate .device-container{
    background-color: #C8C7C6;
    border-radius: 3px;
    float: left;
    width: 0px;
    height: 433px;
    overflow: hidden;
    text-align: left;
    transition: all 0.4s;
}
.collaborate.active-devices .device-container{
    border: 1px solid #606060;
    width: 280px;
    /*display: none;*/
    margin-left: 20px;
    position: relative;
}
.collaborate .device-container h3{
    font-size: 20px;
    color: #ccc;
    background-color: #151413;
    padding: 13px 20px;
    margin: 0;
}
.collaborate .device-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.collaborate .device-container li{
    padding: 20px;
    margin-top: 2px;
    background: #bcbbba;
    background: -moz-linear-gradient(top,  #bcbbba 0%, #b5b4b3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbbba), color-stop(100%,#b5b4b3));
    background: -webkit-linear-gradient(top,  #bcbbba 0%,#b5b4b3 100%);
    background: -o-linear-gradient(top,  #bcbbba 0%,#b5b4b3 100%);
    background: -ms-linear-gradient(top,  #bcbbba 0%,#b5b4b3 100%);
    background: linear-gradient(to bottom,  #bcbbba 0%,#b5b4b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbbba', endColorstr='#b5b4b3',GradientType=0 );

}
.collaborate.active-devices .device-container .action{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: darkred;
    text-align: center;
}

.device-list{
    height: 324px;
    overflow-y: scroll;
}
.device-list li {
    position: relative;
}
.device-list li .delete{
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s
}
.device-list li:hover .delete{
    opacity: 1;
}

